.connection {
  width: 100%;
  min-height: 85vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 50px;
}

.connection h2 {
  font-size: 2em;
  color: var(--txt-ft-cl);
}

.form {
  width: 25vw;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pseudo {
  padding: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pseudo label {
  font-size: 1.1em;
}

.pseudo input {
  padding: 10px;
}

.pwd {
  padding: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pwd label {
  font-size: 1.1em;
}

.pwd input {
  padding: 10px;
}

.alertMessage {
  color: crimson;
}

.successMessage {
  color: forestgreen;
  font-weight: bold;
}

.sub-link a {
  padding: 0 10px;
  text-decoration: none;
  color: var(--txt-ft-cl-3d);
  font-weight: bold;
}
