.validation {
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: teal;
}

.validation h2 {
    margin: 40px auto;
    font-size: 2em;
    color: var(--txt-ft-cl-2d);
}

.card-verif {
    min-width: 40vw;
    min-height: 70vh;
  }